{
  "extends": "airbnb",
    "rules": {
      "no-unused-vars": [2, {"varsIgnorePattern": "^_", "argsIgnorePattern": "^_"}],
      "no-use-before-define": [2, "nofunc"],
      "new-cap": [2, {"capIsNewExceptions": ["mongoose.Types.ObjectId"]}]
  }
}
